@using RepairShopBusinessLogic.ViewModels
@model PageViewModel
@{
    ViewData["Title"] = "Mails";
}
<div class="text-center">
    <h1 class="display-4">Письма</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Отправитель
                    </th>
                    <th>
                        Дата письма
                    </th>
                    <th>
                        Заголовок
                    </th>
                    <th>
                        Текст
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Messages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDelivery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@if (Model.HasPreviousPage)
{
    <a asp-action="Mails" asp-route-page="@(Model.PageNumber - 1)" class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@for (int i = Model.PageNumber >= 6 ? Model.PageNumber - 5 : 1; i <= Model.TotalPages && i <= Model.PageNumber + 5; ++i)
{
    <a asp-action="Mails" asp-route-page="@i">@i </a>
}

@if (Model.HasNextPage)
{
    <a asp-action="Mails" asp-route-page="@(Model.PageNumber + 1)" class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}